//*<Standard font>===========================================================================================

$fontfamily: AvenirNextCyr;

//*</Standard font>==========================================================================================

$maxWidthContainer: 1240px;

//*<Colors>=================================================================================================

$color__font: #4D5154;
$color__main: #FFC800;

//*</Colors>=================================================================================================
