.socials {
    display: flex;
    align-items: center;
    gap: 12px;

    &__item {
    }

    &__link {
        color: #212529;
        display: block;
        width: 28px;
        height: 28px;
        transition: all 0.3s ease-in-out 0s;

        & svg {
            max-width: 100%;
        }

        &:hover {
            color: #fff;
        }

        &--white {
            width: 24px;
            height: 24px;
            color: #fff;

            &:hover {
                color: $color__main;
            }
        }
    }
}
